{:aliases
 {:cljs {:extra-paths ["src/cljs"]
         :extra-deps
         {reagent {:mvn/version "0.10.0"}}}}

 :paths ["src/clj" "src/cljc" "resources" "classes"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"},
        pez/clerk {:mvn/version "1.0.0"},
        ring/ring-defaults {:mvn/version "0.3.2"},
        org.clojure/google-closure-library {:mvn/version "0.0-20190213-2033d5d9"},
        org.clojure/clojurescript {:mvn/version "1.10.773", :scope "provided"},
        reagent-utils {:mvn/version "0.3.3"},
        ring {:mvn/version "1.8.1"},
        hiccup {:mvn/version "1.0.5"},
        yogthos/config {:mvn/version "1.1.7"},
        ring-server {:mvn/version "0.5.0"},
        venantius/accountant {:mvn/version "0.2.5", :exclusions [org.clojure/tools.reader]},
        com.google.javascript/closure-compiler-unshaded {:mvn/version "v20190325"},
        metosin/jsonista {:mvn/version "0.2.6"},
        metosin/reitit {:mvn/version "0.5.1"}}}